extends layout

block page_title 
    title Ово је наслов странице

block greeting 
  h1 Здраво свете!

block software_engineer
  p Ускоро ћу бити софтверски инжењер!
  img(src="/images/earth.jpg" 
      alt="Застава Србије" 
      title="Идите на српски сајт")