extends layout

block page_title 
  title This is the page title

block greeting 
  h1 Hello World!

block software_engineer
  p I'm going to be a software engineer soon!
  img(src="/images/earth.jpg" 
      alt="The Earth" 
      title="The Earth")