extends layout

block page_title 
  title Ceci est le titre de la page

block greeting 
  h1 Bonjour le monde!

block software_engineer
  p Je vais bientôt être un ingénieur logiciel!
  img(src="/images/earth.jpg" 
      alt="La planète Terre"
      title="La planète Terre")