doctype html

html
  head
    block page_title
      title This is the page title
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body
    nav
      block navigation_links

    header
      block greeting
        h1 Hello World!

    main
      block software_engineer
      img(src="/images/earth.jpg" alt="The Earth" title="The Earth")